# Database files
*.MDB
*.mdb
*.sqlite3
*.sqlite
*.db

# Python virtual environment
venv/

# Temporary binary/image files
raw_photo_output.bin
cleaned_photo.bmp

# Python cache
__pycache__/
*.pyc

# External libraries
UCanAccess-5.0.1.bin/
UCanAccess-5.0.1.bin.zip